html,body{
	margin:0;
	padding:0;
	height:100%;
}
#contactplane{
	width: 35px;
	position: absolute;
	margin: -18px;
	cursor:pointer;
}
#contactform{
	width:400px;
	position:fixed;
	z-index:10000;
	background-color:white;
	left:50%;
	margin-left: -200px;
	margin-top: 20px;
	display: none;
}
.topInner{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}
.hamburgerNav{
	position: absolute;
	width: 100%;
	height: 0px;
	background-color: white;
	right: 0px;
	top: 100px;
	overflow: hidden;
	text-align: center;
	z-index: 100;
}
.hamburgerNav > ul{
	list-style-type: none;
	font-size: 18px;
	font-family: 'Montserrat',sans-serif;
}
.hamburgerNav > ul > a > li{
	margin:10px;
	margin-left:-5px;
}
.hamburgerNav > ul > a{
	text-decoration: none;
	color: rgba(29,48,80,1);
	-webkit-transition: 500ms ease-out 0.05s;
	-moz-transition: 500ms ease-out 0.05s;
	-o-transition: 500ms ease-out 0.05s;
	transition: 500ms ease-out 0.05s;
}
.hamburgerNav > ul > a:hover{
	color: #ff9900;
}
@media handheld,screen and (max-width: 750px) {
	/*
		Mobile,tablet
	*/
	/*
		CSS elements for navbar
	*/
	.nav{
		width:100%;
		height:105px;
		position: fixed;
		z-index: 1000;
		background-color: white;
		box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.33);
		-moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.33);
		-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.33);
	}
	.navLogo{
		font-family: 'Lato',sans-serif;
		color:rgb(34,34,34);
		font-size: 25px;
		position:absolute;
		bottom:10px;
		margin-left:35px;
		letter-spacing: 1px;
	}
		.navLogo > img{
		width: 100px;
	}
	.nav > ul{
		display: none;
		position: absolute;
		bottom:5px;
		right:35px;
		font-family: 'Lato',sans-serif;
		color:rgb(34,34,34);
	}
	#hamburger{
		display: block;
		position: absolute;
		right: 25px;
		width: 30px;
		bottom: 25px;
		cursor:pointer;
	}
	/*	
		CSS for index page
		The container for the top of the index page
	*/
	.topContainer{
		width:100%;
		height:500px;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url('../img/index_background.jpg');
	}
	#topContainer_left_text{
		display: none;
	}
	#topContainer_left_sub{
		display: none;
	}
	/*
		Container for second panel on index page
	*/
	.title{
		font-size: 60px;
		text-align: center;
		margin: auto;
	}
	.secondContainer{
		width:100%;
		height:500px;
		background-color:white;
		overflow: hidden;
		text-align: center;
	}
	.secondInner{
		font-family: 'Montserrat', sans-serif;
		color:rgba(29,48,80,1);
		font-size: 20px;
		width:70%;
		margin:auto;
		margin-top:100px;
	}
	/*
		Container for third panel
	*/

		.thirdContainer{
		width:100%;
		height:1250px;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		color:rgba(29,48,80,1);
		background-color: white;
		overflow: hidden;
		background-size:cover;
		background-image: url('../img/thirdContainer.jpg');
	}
	.thirdInner{
		width:100%;
		padding-top: 100px;

		height:100%;
		background-color: rgba(255,255,255,0.7)
	}
	.thirdContainerBox{
		width:300px;
		height:300px;
		margin:20px;
		overflow: hidden;
		display: inline-block;
		background-color: rgba(29,48,80,1);
		cursor:pointer;
		-webkit-transition: 500ms ease-out 0.1s;
		-moz-transition: 500ms ease-out 0.1s;
		-o-transition: 500ms ease-out 0.1s;
		transition: 500ms ease-out 0.1s;
		position: relative;
	}
	.thirdContainerBox:hover{
		background-color: #ff9900;
	}
	.thirdContainerBox > img{
		width:100px;
		margin-top: 90px;
	}
	/*
	Elements for footer
	*/
	.footer{
		width:100%;
		min-height:200px;
		padding-bottom: 50px;
		background-color: white;
		text-align: center;
		position: relative;
	}
	.footerLinks{
		float: left;
		margin:40px;
	}
	.footerLinks >  div{
		display: inline-block;
		font-family: 'Montserrat', sans-serif;
		color:rgba(29,48,80,1);
		cursor:pointer;
		font-size: 13px;

	}
	.footerLinks >  div > a{
		display: inline-block;
		font-family: 'Montserrat', sans-serif;
		color:rgba(29,48,80,1);
		cursor:pointer;
		font-size: 13px;
		text-decoration: none;
		-webkit-transition: 300ms ease-out 0.01s;
		-moz-transition: 300ms ease-out 0.01s;
		-o-transition: 300ms ease-out 0.01s;
		transition: 300ms ease-out 0.01s;

	}
	.footerLinks > div > a:hover{
		color:#ff9900;
	
	}

	.footerCopyright{
		font-size: 13px;
		top:80px;
		left:40px;
		font-family: 'Montserrat', sans-serif;
		color:rgba(29,48,80,1);

	}
		.boxDescrip{
		font-family: 'Montserrat',sans-serif;
		color:white;
		font-size: 25px;
		left: -400px;
		width: 80%;
		top:30px;
		margin:auto;
		text-align: left;
		position: absolute;
	}

	/*
		CSS for the firm page
	*/
	.topContainer_firm{
		width: 100%;
		height: 200px;
		padding-top: 250px;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url('../img/firmtop.jpg');
		background-attachment: fixed;
		background-position: 0px -25px;
		position: relative;
	}
	.topContainer_firm_overlay{
		width: 100%;
		height: 100%;
		padding-top: 250px;
		margin-top: -250px;
		background-color: rgba(255,153,0,0.2);
	}
	.topContainer_firm_text{
		position: absolute;
		left:100px;
		bottom:100px;
		font-family: 'Montserrat',sans-serif;
		font-size: 30px;
		color:white;
		margin:auto;
	}
	.firmBottom{
		width:100%;
		min-height: 600px;
	}
		.topContainer_firm_overlay{
		width: 100%;
		height: 100%;
		padding-top: 250px;
		margin-top: -250px;
		background-color: rgba(255,153,0,0.2);
	}
	.topContainer_firm_text{
		position: absolute;
		left:100px;
		bottom:100px;
		font-family: 'Montserrat',sans-serif;
		font-size: 50px;
		color:white;
	}
	.firmBottom{
		width:100%;
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.firmBottomInner{
		width:80%;
		margin:auto;
		text-align: left;
		color:rgba(29,48,80,1);
		font-family: 'Montserrat',sans-serif;
		font-size: 25px;
	}
	.firmSecondBottom{
		width:100%;
		margin:auto;
		height:1200px;
		padding-bottom: 50px;
	}
	.firmSecondBottom_left{
		width:100%;
		height:50%;
		float: left;
		background-color: rgba(29,48,80,1);
	}
	.firmSecondBottom_left_inner{
		width:80%;
		color:white;
		margin:auto;
		font-family: 'Montserrat',sans-serif;
		font-size:20px;
		margin-top: 100px;

	}
	.firmSecondBottom_right{
		width:100%;
		height:100%;
		float: left;
		background-size: cover;
		background-position: 0px -300px;
		background-image: url('../img/firm_rightbackground.jpg');
		background-repeat: no-repeat;

	}
	/*

		CSS for attorneys page
	*/
		.topContainer_attorney{
		width: 100%;
		height: 200px;
		padding-top: 250px;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url('../img/attorney_top.jpg');
		background-position: 0px -200px;
		overflow: hidden;
		position: relative;
		background-attachment: fixed;	
	}
	.topContainer_attorney_overlay{
		width: 100%;
		height: 100%;
		padding-top: 250px;
		margin-top: -250px;
		background-color: rgba(29,48,80,0.3);
	}
	.topContainer_attorney_text{
		position: absolute;
		left:50px;
		bottom:100px;
		font-family: 'Montserrat',sans-serif;
		font-size: 50px;
		color:white;
	}
	.attorneyBottom{
		width:100%;
		padding-bottom: 50px;
		overflow: hidden;
		border-bottom: 1px solid rgba(29,48,80,1);
	}
	.attorneyBottomLeft{
		width:100%;
		height: 100%;
		float: left;
		text-align: center;
	}
	.attorneyBottomRight{
		width:100%;
		height:100%;
		float: left;
		text-align: center;
	}
	.attorneyPic{
		height:350px;
		width:350px;
		border-radius: 50%;
		margin:auto;
		margin-top: 50px;
	}
	.attorneyName{
		width: 100%;
		text-align: center;
		font-family: 'Montserrat',sans-serif;
		color: rgba(29,48,80,1);
		font-size: 35px;
		margin-top: 50px;
	}
	.attorneyDummyText{
		font-family: 'Montserrat',sans-serif;
		color: rgba(29,48,80,1);
		font-size: 20px;
		text-align: left;
		width:65%;
		margin:auto;
		margin-top: 50px;
	}
		/*
	Top container for what we do page
	CSS for what we do page
	*/
	.topContainer_whatwedo{
		width: 100%;
		height: 200px;
		padding-top: 250px;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url('../img/whatwedo_background.jpg');
		background-position: 0px -100px;
		overflow: hidden;
		position: relative;
		background-attachment: fixed;	
	}
	.topContainer_whatwedo_overlay{
		width: 100%;
		height: 100%;
		padding-top: 250px;
		margin-top: -250px;
		background-color: rgba(29,48,80,0.3);
	}
	.topContainer_whatwedo_text{
		position: absolute;
		left:10px;
		bottom:100px;
		font-family: 'Montserrat',sans-serif;
		font-size: 50px;
		color:white;
	}
	.whatwedo_container{
		width:100%;
		padding-top: 50px;
		padding-bottom: 50px;
		overflow: hidden;
	}
	.whatwedo_inner_container{
		width:85%;
		margin:auto;
	}
	.whatwedo_title{
   		font-family: 'Montserrat',sans-serif;
		font-size:40px;
		color: rgba(29,48,80,1);
	}
	.whatwedo_description{
		width: 80%;
		margin-top: 30px;
   		font-family: 'Montserrat',sans-serif;
		font-size:15px;
		color: rgba(29,48,80,1);
		line-height: 30px;
		letter-spacing: 1px;
	}
	.whatwedo_list{
		 font-family: 'Montserrat',sans-serif;
		font-size:25px;
		color: rgba(29,48,80,1);
	}
	/*
	CSS for the resources page
	*/
	.topContainer_resources{
		width: 100%;
		height: 200px;
		padding-top: 250px;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url('../img/resources_background.jpg');
		background-position: 0px -70px;
		overflow: hidden;
		position: relative;
		background-attachment: fixed;	
	}
	.topContainer_resources_overlay{
		width: 100%;
		height: 100%;
		padding-top: 250px;
		margin-top: -250px;
		background-color: rgba(29,48,80,0.3);
	}
	.topContainer_resources_text{
		position: absolute;
		left:10px;
		bottom:100px;
		font-family: 'Montserrat',sans-serif;
		font-size: 50px;
		color:white;
	}
	.resourcesContainer{
		width: 100%;
		height:500px;
	}

}
@media handheld,screen and (min-width: 751px) {
	/*
		Desktop, laptop
	*/
	/*
		CSS elements for footer
	*/
	.footer{
		width:100%;
		height:155px;
		background-color: white;
		overflow: hidden;
		position: relative;
	}
	.footerLinks{
		float: left;
		margin:40px;
		margin-left: 10%;
	}
	.footerLinks > div{
		display: inline-block;
		font-family: 'Montserrat', sans-serif;
		color:rgba(29,48,80,1);
		font-size: 13px;
		cursor:pointer;
	}
	.footerLinks >  div > a{
		display: inline-block;
		font-family: 'Montserrat', sans-serif;
		color:rgba(29,48,80,1);
		cursor:pointer;
		font-size: 13px;
		text-decoration: none;
		-webkit-transition: 300ms ease-out 0.01s;
		-moz-transition: 300ms ease-out 0.01s;
		-o-transition: 300ms ease-out 0.01s;
		transition: 300ms ease-out 0.01s;

	}
	.footerLinks > div > a:hover{
		color:#ff9900;

	}
	.footerCopyright{
		position: absolute;
		top:70px;
		left:10%;
		font-family: 'Montserrat', sans-serif;
		color:rgba(29,48,80,1);
		font-size: 13px;
	}
	.footerRightBox{
		height:100%;
		width:200px;
		float: left;
		margin-left: 100px;
		text-align: left;
		overflow: hidden;
	}
	.footerRightBoxInner{
		font-family: 'Montserrat', sans-serif;
		color:rgba(29,48,80,1);
		margin-top: 40px;
		font-size: 13px;
	}
	/*
		CSS elements for navbar
	*/
	.nav{
		width: 100%;
		height: 105px;
		background-color: white;
		z-index: 100;
		position: fixed;
		box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.33);
		-moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.33);
		-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.33);
	}
	.navLogo{
		font-family: 'Lato',sans-serif;
		color:rgb(34,34,34);
		font-size: 25px;
		position:absolute;
		bottom:0px;
		margin-left:115px;
		letter-spacing: 1px;
	}
	.navLogo > img{
		width: 180px;
	}
	.nav > ul{
		position: absolute;
		bottom:10px;
		right:35px;
		font-family: 'Lato',sans-serif;
		color:rgb(34,34,34);
	
	}
	.nav > ul > a{
		text-decoration: none;
		color:rgb(34,34,34);
		-webkit-transition: 300ms ease-out 0.01s;
		-moz-transition: 300ms ease-out 0.01s;
		-o-transition: 300ms ease-out 0.01s;
		transition: 300ms ease-out 0.01s;
	}
	.nav > ul > a:hover{
		text-decoration: none;
		color:#ff9900;

	}
	.nav > ul > a > li{
		display: inline;
		margin-right: 35px;
		margin-bottom: 11px;
		font-size: 80%;
		cursor: pointer;
	}
	#hamburger{
		display: none;
	}


	/*	
		CSS for index page
		The container for the top of the index page
	*/
	.topContainer{
		width:100%;
		height:100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url('../img/index_background2.jpg');
		background-position: 0px -100px;


	}
	/* left container on index page */
	.topContainer_left{
		height:100%;
		width:35%;
		background-color: rgba(29,48,80,0.7);
		position: relative;
		overflow: hidden;
		float: left;
	}
	#topContainer_left_text{
		color: rgb(200,200,200);
		font-family: 'Montserrat',sans-serif;
		top: 40%;
		left: 40%;
		position: absolute;
		font-size: 25px;
		margin-left: -100px;
	}
	#topContainer_left_sub{
		color: rgb(200,200,200);
		font-family: 'Montserrat',sans-serif;
		top: 48%;
		left: 50%;
		position: absolute;
		font-size: 20px;
		margin-left: -100px;
	}
	/* Right container on idnex page	*/
	.topContainer_right{
		width:65%;
		height:100%;
		overflow: hidden;
		float: left;
	}
	#topContainer_right_text{
		color: white;
		font-family: 'Montserrat',sans-serif;
		top: 55%;
		left: 40%;
		position: absolute;
		font-size: 45px;
	}
	/*
	Container for second panel on index page
	*/
	.secondContainer{
		width:100%;
		height:550px;
		background-color:white;
		overflow: hidden;
		text-align: center;
	}
	.secondInner{
		font-family: 'Montserrat', sans-serif;
		color:rgba(29,48,80,1);
		font-size: 30px;
		width:70%;
		margin:auto;
		margin-top:100px;
	}
	/*
		Container for third panel
	*/
	.title{
		font-size: 80px;
		text-align: center;
		margin: auto;
	}
	.line{
		width:25%;
		height:1px;
		margin:auto;
		background-color: rgba(29,48,80,1);
	}
	.thirdContainer{
		width:100%;
		min-height:650px;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		color:rgba(29,48,80,1);
		background-color: white;
		overflow: hidden;
		background-size:cover;
		background-image: url('../img/thirdContainer.jpg');
	}
	.thirdInner{
		width:100%;
		padding-top: 100px;
		padding-bottom: 100px;
		height:100%;
		background-color: rgba(255,255,255,0.7)
	}
	.thirdContainerBox{
		width:300px;
		height:300px;
		margin:20px;
		display: inline-block;
		background-color: rgba(29,48,80,1);
		cursor:pointer;
		text-align: center;
		overflow: hidden;
		-webkit-transition: 500ms ease-out 0.1s;
		-moz-transition: 500ms ease-out 0.1s;
		-o-transition: 500ms ease-out 0.1s;
		transition: 500ms ease-out 0.1s;
		position: relative;
	}
	.boxDescrip{
		font-family: 'Montserrat',sans-serif;
		color:white;
		font-size: 25px;
		left: -400px;
		width: 80%;
		top:30px;
		margin:auto;
		text-align: left;
		position: absolute;
	}
	.containerText{
		width:100%;
		text-align: center;
		font-family: 'Montserrat',sans-serif;
		color:white;
		position: absolute;
		font-size: 25px;
		bottom:20px;
	}
	.thirdContainerBox:hover{
		background-color: #ff9900;
	}
	.thirdContainerBox > img{
		width:100px;
		margin-top: 70px;
	}
	
	/*
		CSS for the firm page
	*/
	.topContainer_firm{
		width: 100%;
		height: 200px;
		padding-top: 250px;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url('../img/firmtop.jpg');
		background-position: 0px -25px;
		overflow: hidden;
		position: relative;
		background-attachment: fixed;


	}
	.topContainer_firm_overlay{
		width: 100%;
		height: 100%;
		padding-top: 250px;
		margin-top: -250px;
		background-color: rgba(29,48,80,0.3);
	}
	.topContainer_firm_text{
		position: absolute;
		left:100px;
		bottom:100px;
		font-family: 'Montserrat',sans-serif;
		font-size: 50px;
		color:white;
	}
	.firmBottom{
		width:100%;
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.firmBottomInner{
		width:80%;
		margin:auto;
		text-align: left;
		color:rgba(29,48,80,1);
		font-family: 'Montserrat',sans-serif;
		font-size: 25px;
	}
	.firmSecondBottom{
		width:100%;
		margin:auto;
		height:600px;
		overflow: hidden;
		padding-bottom: 50px;
	}
	.firmSecondBottom_left{
		width:50%;
		height:100%;
		float: left;
		background-color: rgba(29,48,80,1);
	}
	.firmSecondBottom_left_inner{
		width: 80%;
		color: white;
		margin: auto;
		font-family: 'Montserrat',sans-serif;
		font-size: 20px;
		margin-top: 130px;
		line-height: 35px;
		letter-spacing: 1px;

	}
	.firmSecondBottom_right{
		width:50%;
		height:100%;
		float: left;
		background-size: cover;
		background-position: 0px -300px;
		background-image: url('../img/firm_rightbackground.jpg');
		background-repeat: no-repeat;
	}
	.topContainer_attorney{
		width: 100%;
		height: 200px;
		padding-top: 250px;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url('../img/attorney_top.jpg');
		background-position: 0px -200px;
		overflow: hidden;
		position: relative;
		background-attachment: fixed;	
	}
	.topContainer_attorney_overlay{
		width: 100%;
		height: 100%;
		padding-top: 250px;
		margin-top: -250px;
		background-color: rgba(29,48,80,0.3);
	}
	.topContainer_attorney_text{
		position: absolute;
		left:100px;
		bottom:100px;
		font-family: 'Montserrat',sans-serif;
		font-size: 50px;
		color:white;
	}
	.attorneyBottom{
		width:100%;
		height:800px;
		overflow: hidden;
		border-bottom: 1px solid rgba(29,48,80,1);
	}
	.attorneyBottomLeft{
		width:50%;
		height: 100%;
		float: left;
		text-align: center;
	}
	.attorneyBottomRight{
		width:50%;
		height:100%;
		float: left;
		text-align: center;
	}
	.attorneyPic{
		height:350px;
		width:350px;
		border-radius: 50%;
		margin:auto;
		margin-top: 50px;
	}
	.attorneyName{
		width: 100%;
		text-align: center;
		font-family: 'Montserrat',sans-serif;
		color: rgba(29,48,80,1);
		font-size: 35px;
		margin-top: 50px;
	}
	.attorneyDummyText{
		font-family: 'Montserrat',sans-serif;
		color: rgba(29,48,80,1);
		font-size: 20px;
		text-align: left;
		width:65%;
		margin:auto;
		margin-top: 50px;
	}
	/*
	Top container for what we do page
	CSS for what we do page
	*/
	.topContainer_whatwedo{
		width: 100%;
		height: 200px;
		padding-top: 250px;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url('../img/whatwedo_background.jpg');
		background-position: 0px -300px;
		overflow: hidden;
		position: relative;
		background-attachment: fixed;	
	}
	.topContainer_whatwedo_overlay{
		width: 100%;
		height: 100%;
		padding-top: 250px;
		margin-top: -250px;
		background-color: rgba(29,48,80,0.3);
	}
	.topContainer_whatwedo_text{
		position: absolute;
		left:100px;
		bottom:100px;
		font-family: 'Montserrat',sans-serif;
		font-size: 50px;
		color:white;
	}
	.whatwedo_container{
		width:100%;
		padding-top: 50px;
		padding-bottom: 50px;
		overflow: hidden;
		border-bottom:1px solid rgba(29,48,80,1);
	}
	.whatwedo_inner_container{
		width:85%;
		margin:auto;
	}
	.whatwedo_title{
   		font-family: 'Montserrat',sans-serif;
		font-size:40px;
		color: rgba(29,48,80,1);
	}
	.whatwedo_description{
		width: 80%;
		margin-top: 30px;
   		font-family: 'Montserrat',sans-serif;
		font-size:15px;
		color: rgba(29,48,80,1);
		line-height: 30px;
		letter-spacing: 1px;
	}
	.whatwedo_list{
		 font-family: 'Montserrat',sans-serif;
		font-size:25px;
		color: rgba(29,48,80,1);
	}
	/*
	CSS for the resources page
	*/
	.topContainer_resources{
		width: 100%;
		height: 200px;
		padding-top: 250px;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url('../img/resources_background.jpg');
		background-position: 0px -70px;
		overflow: hidden;
		position: relative;
		background-attachment: fixed;	
	}
	.topContainer_resources_overlay{
		width: 100%;
		height: 100%;
		padding-top: 250px;
		margin-top: -250px;
		background-color: rgba(29,48,80,0.3);
	}
	.topContainer_resources_text{
		position: absolute;
		left:100px;
		bottom:100px;
		font-family: 'Montserrat',sans-serif;
		font-size: 50px;
		color:white;
	}
	.resourcesContainer{
		width: 100%;
		height:500px;
	}

}
@media handheld,screen and (max-width: 1068px) {
	/*	
		CSS for index page
		The container for the top of the index page
	*/
	.topContainer{
		width:100%;
		height:100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url('../img/index_background2.jpg');
		background-position: 0px 0px;
	}
	.footerCopyright{
		position: absolute;
		top:80px;
		left:10%;
		font-family: 'Montserrat', sans-serif;
		color:rgba(29,48,80,1);

	}
	.footerRightBox{
		height:100%;
		width:200px;
		margin-left: 100px;
		text-align: center;
		overflow: hidden;
	}
	.footerRightBoxInner{
		font-family: 'Montserrat', sans-serif;
		color:rgba(29,48,80,1);
		margin-top: 40px;
		font-size: 13px;
	}

}
#map-canvas{
	width:100%;
	height:100%;
	position: relative;
}
#mapContact{
font-family: 'Montserrat', sans-serif;
color: rgba(29,48,80,1);
border: 1px solid rgba(29,48,80,1);
position: absolute;
padding: 20px;
top: 55%;
right: 5%;
background-color: white;
font-size: 25px;}